/* -----Utility Css----- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:root{
  --mark-size: calc(80px*0.7);
}

button{
  cursor: pointer;
}

/* -----Main Section----- */
#game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw 2vh;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  /* border: 1px solid red; */
}
#game-container h1{
  padding:2vh;
  font-weight: 900;
}

.display,h1{
  font-weight: 400;
  pointer-events: none;
}

#grid-container{
  display: grid;
  grid-template-columns: repeat(3,80px);
  grid-template-rows: repeat(3,80px);
  padding: 2vh;
  /* border: 1px solid green; */
}

.grid-item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
  cursor: pointer;
}

.grid-item.x,.grid-item.o{
  cursor: not-allowed;
}

.grid-item.x::before,.grid-item.x::after{
  content: '';
  position: absolute;
  width: calc(var(--mark-size)*0.13);
  height: var(--mark-size);
  background-color: black;
}
.grid-item.x::before{
  transform: rotate(45deg);
}
.grid-item.x::after{
  transform: rotate(-45deg);
}

.grid-item.o::before,.grid-item.o::after{
  content: '';
  position: absolute;
  border-radius: 50%;
}

.grid-item.o::before{
  width: calc(var(--mark-size)*0.9);
  height: calc(var(--mark-size)*0.9);
  background-color: black;
}

.grid-item.o::after{
  width: calc(var(--mark-size)*0.65);
  height: calc(var(--mark-size)*0.65);
  background-color: white;
}

.grid-item:nth-child(1),.grid-item:nth-child(2),.grid-item:nth-child(3){
  border-top: none;
}

.grid-item:nth-child(3n+1){
  border-left: none;
}

.grid-item:nth-child(3n+3){
  border-right: none;
}

.grid-item:nth-child(7),.grid-item:nth-child(8),.grid-item:nth-child(9){
  border-bottom: none;
}

#buttons-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2em;
  padding: 1vh;
}

#buttons-container button{
  padding: 1vh;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  background-color: #EFEFEF;
  color: black;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.15s;
}

#buttons-container button:hover{
  background-color: rgb(31, 31, 31);
  color: white;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
}
